In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

## Exploring the customer transactions dataset

In [3]:
df_one = pd.read_csv('consumer_transanctions.csv')

In [4]:
df_one.shape

(72312, 8)

In [5]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_timestamp       72312 non-null  int64
 1   interaction_type      72312 non-null  object
 2   item_id               72312 non-null  int64
 3   consumer_id           72312 non-null  int64
 4   consumer_session_id   72312 non-null  object
 5   consumer_device_info  56918 non-null  object
 6   consumer_location     56907 non-null  object
 7   country               56918 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.4+ MB

In [6]:
df_one.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,content_watched,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,content_followed,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN

In [7]:
df_one['interaction_type'].value_counts()

content_watched         61086
content_liked            5745
content_saved            2463
content_commented_on     1611
content_followed         1407
Name: interaction_type, dtype: int64

In [8]:
# dropping columns that are not relevant for the model 
df_one = df_one.drop(['event_timestamp','consumer_session_id','consumer_device_info','consumer_location','country'], axis =1)

In [9]:
df_one.head()

   interaction_type              item_id          consumer_id
0   content_watched -3499919498720038879 -8845298781299428018
1   content_watched  8890720798209849691 -1032019229384696495
2   content_watched   310515487419366995 -1130272294246983140
3  content_followed   310515487419366995   344280948527967603
4   content_watched -7820640624231356730  -445337111692715325

In [10]:
# creating a function to convert the 'column interaction_type' to numeric values 

def interaction(x):
    if x =='content_liked':
        return 1
    elif x == 'content_saved':
        return 2
    elif x == 'content_commented_on':
        return 3
    elif x == 'content_followed':
        return 4
    else:
        return 5

In [11]:
df_one['interaction_type'] = df_one['interaction_type'].apply(lambda x:interaction(x))

In [12]:
df_one['interaction_type'].value_counts()

5    61086
1     5745
2     2463
3     1611
4     1407
Name: interaction_type, dtype: int64

In [13]:
df_one.head()

   interaction_type              item_id          consumer_id
0                 5 -3499919498720038879 -8845298781299428018
1                 5  8890720798209849691 -1032019229384696495
2                 5   310515487419366995 -1130272294246983140
3                 4   310515487419366995   344280948527967603
4                 5 -7820640624231356730  -445337111692715325

## Exploring the Platform Content Dataframe

In [6]:
df_two = pd.read_csv('platform_content.csv')

In [7]:
df_two.shape

(3122, 13)

In [8]:
df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   event_timestamp       3122 non-null   int64
 1   interaction_type      3122 non-null   object
 2   item_id               3122 non-null   int64
 3   producer_id           3122 non-null   int64
 4   producer_session_id   3122 non-null   int64
 5   producer_device_info  680 non-null    object
 6   producer_location     680 non-null    object
 7   producer_country      680 non-null    object
 8   item_type             3122 non-null   object
 9   item_url              3122 non-null   object
 10  title                 3122 non-null   object
 11  text_description      3122 non-null   object
 12  language              3122 non-null   object
dtypes: int64(4), object(9)
memory usage: 317.2+ KB

In [9]:
df_two['language'].value_counts()

en    2264
pt     850
la       4
ja       2
es       2
Name: language, dtype: int64

In [10]:
df_two['interaction_type'].value_counts()

content_present       3047
content_pulled_out      75
Name: interaction_type, dtype: int64

In [11]:
# the column 'interaction_type' in df_two does not have any significance to our analysis

In [12]:
df_two = df_two[['item_id', 'title','text_description','language']]

### Creating a dataframe with unique item ids

In [13]:
item_ids = df_two['item_id'].unique().tolist()

In [14]:
unique_item = pd.DataFrame(item_ids)

In [15]:
unique_item.head()

                     0
0 -6451309518266745024
1 -4110354420726924665
2 -7292285110016212249
3 -6151852268067518688
4  2448026894306402386

In [16]:
unique_item.reset_index(inplace = True)

In [17]:
unique_item.head()

   index                    0
0      0 -6451309518266745024
1      1 -4110354420726924665
2      2 -7292285110016212249
3      3 -6151852268067518688
4      4  2448026894306402386

In [18]:
unique_item.columns = ['item_no','item_id']

In [19]:
unique_item.head()

   item_no              item_id
0        0 -6451309518266745024
1        1 -4110354420726924665
2        2 -7292285110016212249
3        3 -6151852268067518688
4        4  2448026894306402386

In [20]:
unique_item.shape

(3057, 2)

In [21]:
# Merging the dataframes : unique_item and df_two

In [22]:
temp = pd.merge(unique_item, df_two, on='item_id', how='left')

In [24]:
temp.head(20)

,item_no,item_id,title,text_description,language
0,0,-6451309518266745024,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1,-4110354420726924665,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,2,-7292285110016212249,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,3,-6151852268067518688,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,4,2448026894306402386,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en
5,5,-2826566343807132236,IEEE to Talk Blockchain at Cloud Computing Oxf...,One of the largest and oldest organizations fo...,en
6,6,-2148899391355011268,Banks Need To Collaborate With Bitcoin and Fin...,It will take time until banks come around to t...,en
7,7,4119190424078847945,Blockchain Technology Could Put Bank Auditors ...,When most people think about computers and rob...,en
8,8,-7926018713416777892,Why Decentralized Conglomerates Will Scale Bet...,"Bitcoin.com spoke with the OpenLedger CEO, Ron...",en
9,9,3353902017498793780,The Rise And Growth of Ethereum Gets Mainstrea...,"Ethereum, considered by many to be the most pr...",en
10,10,-9157338616628196758,Situação financeira ruim de varejistas pressio...,A queda nas vendas e a deterioração na situaçã...,pt
11,11,1805789466376069146,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
12,12,-2081760549863309770,Setting Up SSL proxy for Google Cloud Load Bal...,Alpha This is an Alpha release of Setting Up S...,en
13,13,-5170198873410718233,NTT to buy Dell's services division for $3.05 ...,You may know Dell as a computer and server mak...,en
14,14,-3367778232969996503,"Good riddance, gig economy: Uber, Ayn Rand and...",The Uber model just doesn't work for other ind...,en
15,15,4988225165850707692,The internet of a billion things | ET CIO,Industrial adoption of IoT dubbed as Industria...,en
16,16,-5917314377186856799,Artigos e Palestras - Programa Agricultura de ...,Artigos e Palestras ARTIGOS / 2015 12/08/2015 ...,pt
17,17,6157037646878010131,Rede Agricultura de Precisão II,Do Se Te Qu Qu Se Sa 27 28 29 30 31 Faça downl...,pt
18,18,6023609667389715259,Five Bitcoin and Ethereum Based Projects to Wa...,Five Bitcoin and Ethereum Based Projects to Wa...,en
19,19,7905485530310717815,Blockchain Smart Contracts Startup Selected By...,"CommonAccord, a blockchain-based startup for l...",en

In [25]:
temp.title[1]

"Ethereum, a Virtual Currency, Enables Transactions That Rival Bitcoin's"

In [27]:
temp.text_description[1]

'All of this work is still very early. The first full public version of the Ethereum software was recently released, and the system could face some of the same technical and legal problems that have tarnished Bitcoin. Many Bitcoin advocates say Ethereum will face more security problems than Bitcoin because of the greater complexity of the software. Thus far, Ethereum has faced much less testing, and many fewer attacks, than Bitcoin. The novel design of Ethereum may also invite intense scrutiny by authorities given that potentially fraudulent contracts, like the Ponzi schemes, can be written directly into the Ethereum system. But the sophisticated capabilities of the system have made it fascinating to some executives in corporate America. IBM said last year that it was experimenting with Ethereum as a way to control real world objects in the so-called Internet of things. Microsoft has been working on several projects that make it easier to use Ethereum on its computing cloud, Azure. "Ethereum is a general platform where you can solve problems in many industries using a fairly elegant solution - the most elegant solution we have seen to date," said Marley Gray, a director of business development and strategy at Microsoft. Mr. Gray is responsible for Microsoft\'s work with blockchains, the database concept that Bitcoin introduced. Blockchains are designed to store transactions and data without requiring any central authority or repository. Blockchain ledgers are generally maintained and updated by networks of computers working together - somewhat similar to the way that Wikipedia is updated and maintained by all its users. Many corporations, though, have created their own Ethereum networks with private blockchains, independent of the public system, and that could ultimately detract from the value of the individual unit in the Ethereum system - known as an Ether - that people have recently been buying. The interest in Ethereum is one sign of the corporate fascination with blockchains. Most major banks have expressed an interest in using them to make trading and money transfer faster and more efficient. On Tuesday, executives from the largest banks will gather for a conference, "Blockchain: Tapping I nto the Real Potential , Cutting Through the Hype." Many of these banks have recently been looking at how some version of Ethereum might be put to use. JPMorgan, for instance, has created a specific tool, Masala, that allows some of its internal databases to interact with an Ethereum blockchain. Michael Novogratz, a former top executive at the private equity firm Fortress Investing Group, who helped lead Fortress\'s investment in Bitcoin, has been looking at Ethereum since he left Fortress last fall. Mr. Novogratz said that he made a "significant" purchase of Ether in January. He has also heard how the financial industry\'s chatter about the virtual currency has evolved. "A lot of the more established players were thinking, \'It\'s still an experiment,\' " he said. "It feels like in the last two to three months that experiment is at least getting a lot more validation." Since the beginning of the year, the value of an individual unit of Ether has soared as high as $12 from around $1. That has brought the value of all existing Ether to over $1 billion at times, significantly more than any virtual currency other than Bitcoin, which had over $6 billion in value outstanding last week. Since Bitcoin was invented, there have been many so-called alt-coins that have tried to improve on Bitcoin, but none have won the following of Ethereum. Unlike Bitcoin, which was released in 2009 by a mysterious creator known as Satoshi Nakamoto, Ethereum was created in a more transparent fashion by a 21-year-old Russian-Canadian, Vitalik Buterin, after he dropped out of Waterloo University in Ontario. The most basic aim of Ethereum was to make it possible to program binding agreements into the blockchain - the smart contract concept. Two people, for instance, could program a bet on a sports game directly into the Ethereum blockchain. Once the final score came in from a mutually agreed upon source - say, The Associated Press - the money would be automatically transferred to the winning party. Ether can be used as a currency in this system, but Ether are also necessary to pay for the network power needed to process the bet. The Ethereum system has sometimes been described as a single shared computer that is run by the network of users and on which resources are parceled out and paid for by Ether. A team of seven co-founders helped Mr. Buterin write up the software after he released the initial description of the system. Mr. Buterin\'s team raised $18 million in 2014 through a presale of Ether, which helped fund the Ethereum Foundation, which supports the software\'s development. Like Bitcoin, Ethereum has succeeded by attracting a dedicated network of followers who have helped support the software, partly in the hope that their Ether will increase in value if the system succeeds. Last week, there were 5,800 computers - or nodes - helping support the network around the world. The Bitcoin network had about 7,400 nodes. One of Mr. Buterin\'s co-founders, Joseph Lubin, has set up ConsenSys, a company based in Brooklyn that has hired over 50 developers to build applications on the Ethereum system, including one that enables music distribution and another that allows for a new kind of financial auditing. The ConsenSys offices are in an old industrial building in the Bushwick section of Brooklyn. The office is essentially one large room, with all the messy trademarks of a start-up operation, including white boards on the walls and computer parts lying around. Mr. Lubin said he had thrown himself into Ethereum after starting to think that it delivered on some of the failed promise of Bitcoin, especially when it came to allowing new kinds of online contracts and markets. "Bitcoin presented the broad strokes vision, and Ethereum presented the crystallization of how to deliver that vision," he said. Joseph Bonneau, a computer science researcher at Stanford who studies so-called crypto-currencies, said Ethereum was the first system that had really caught his interest since Bitcoin. It is far from a sure thing, he cautioned. "Bitcoin is still probably the safest bet, but Ethereum is certainly No. 2, and some folks will say it is more likely to be around in 10 years," Mr. Bonneau said. "It will depend if any real markets develop around it. If there is some actual application."'

In [32]:
temp.shape

(3122, 5)

### Creating a dataframe with unique consumer ids

In [33]:
con_ids = df_one['consumer_id'].unique().tolist()

In [34]:
unique_con = pd.DataFrame(con_ids)

In [35]:
unique_con.head()

                     0
0 -8845298781299428018
1 -1032019229384696495
2 -1130272294246983140
3   344280948527967603
4  -445337111692715325

In [36]:
unique_con.reset_index(inplace = True)

In [37]:
unique_con.head()

   index                    0
0      0 -8845298781299428018
1      1 -1032019229384696495
2      2 -1130272294246983140
3      3   344280948527967603
4      4  -445337111692715325

In [38]:
unique_con.columns = ['consumer_no','consumer_id']

In [39]:
unique_con.head()

   consumer_no          consumer_id
0            0 -8845298781299428018
1            1 -1032019229384696495
2            2 -1130272294246983140
3            3   344280948527967603
4            4  -445337111692715325

In [40]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72312 entries, 0 to 72311
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   interaction_type  72312 non-null  int64
 1   item_id           72312 non-null  int64
 2   consumer_id       72312 non-null  int64
dtypes: int64(3)
memory usage: 1.7 MB

In [41]:
df_two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122 entries, 0 to 3121
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           3122 non-null   int64
 1   title             3122 non-null   object
 2   text_description  3122 non-null   object
 3   language          3122 non-null   object
dtypes: int64(1), object(3)
memory usage: 97.7+ KB

In [42]:
# Merging the dataframes : temp and df_one
merged_temp = pd.merge(df_one,unique_con, on ='consumer_id', how ='left')

In [43]:
merged_temp.head()

   interaction_type              item_id          consumer_id  consumer_no
0                 5 -3499919498720038879 -8845298781299428018            0
1                 5  8890720798209849691 -1032019229384696495            1
2                 5   310515487419366995 -1130272294246983140            2
3                 4   310515487419366995   344280948527967603            3
4                 5 -7820640624231356730  -445337111692715325            4

In [44]:
merged_temp.shape

(72312, 4)

In [45]:
merged_temp = merged_temp.drop('consumer_id', axis = 1)

In [46]:
merged_temp.head()

   interaction_type              item_id  consumer_no
0                 5 -3499919498720038879            0
1                 5  8890720798209849691            1
2                 5   310515487419366995            2
3                 4   310515487419366995            3
4                 5 -7820640624231356730            4

In [47]:
# creating the final dataframe by merging the the dataframes : merged_temp and temp
merged = pd.merge(merged_temp,temp, on ='item_id', how ='left')

In [48]:
merged.head()

,interaction_type,item_id,consumer_no,item_no,title,text_description,language
0,5,-3499919498720038879,0,1247,Hiri wants to fix the workplace email problem,Hiri is the latest startup trying to fix email...,en
1,5,8890720798209849691,1,1236,Top 10 Intranet Trends of 2016,"Summary: Hero images, carousels, fat footers, ...",en
2,5,310515487419366995,2,1267,71 erros de português que precisam sumir dos s...,Escrever um e-mail não deveria ser uma coisa t...,pt
3,4,310515487419366995,3,1267,71 erros de português que precisam sumir dos s...,Escrever um e-mail não deveria ser uma coisa t...,pt
4,5,-7820640624231356730,4,1271,How This Googler Redesigned The Workweek,Jake Knapp has always been concerned about the...,en

In [49]:
merged = merged.drop('item_id', axis =1)

In [50]:
merged.head()

,interaction_type,consumer_no,item_no,title,text_description,language
0,5,0,1247,Hiri wants to fix the workplace email problem,Hiri is the latest startup trying to fix email...,en
1,5,1,1236,Top 10 Intranet Trends of 2016,"Summary: Hero images, carousels, fat footers, ...",en
2,5,2,1267,71 erros de português que precisam sumir dos s...,Escrever um e-mail não deveria ser uma coisa t...,pt
3,4,3,1267,71 erros de português que precisam sumir dos s...,Escrever um e-mail não deveria ser uma coisa t...,pt
4,5,4,1271,How This Googler Redesigned The Workweek,Jake Knapp has always been concerned about the...,en

In [51]:
merged.shape

(72680, 6)

### Checking Skewness in the Data

In [52]:
# checking for the duplicate data in the dataframe : 'merged'
merged.duplicated().sum()

21731

In [53]:
merged = merged.drop_duplicates()

In [54]:
merged.duplicated().sum()

0

In [55]:
merged.shape

(50949, 6)

In [56]:
merged['interaction_type'].value_counts()

5    40248
1     5673
2     2202
3     1427
4     1399
Name: interaction_type, dtype: int64

In [57]:
# checking the number of cosumers that have gone through different items
merged['item_no'].value_counts(0)

3031    345
1767    251
1628    224
1827    201
1854    190
       ...
557       1
247       1
311       1
1665      1
2944      1
Name: item_no, Length: 2987, dtype: int64

In [58]:
# creating articles that have been read by at least 5 users 
merged = merged.groupby('item_no').filter(lambda x: len(x) > 4)

In [59]:
merged['item_no'].value_counts()

3031    345
1767    251
1628    224
1827    201
1854    190
       ...
1597      5
1335      5
347       5
1709      5
1608      5
Name: item_no, Length: 2241, dtype: int64

In [60]:
merged.shape

(49142, 6)

In [61]:
merged.nunique()

interaction_type       5
consumer_no         1885
item_no             2241
title               2222
text_description    2230
language               4
dtype: int64

## Creating a Model Evaluator

In [62]:
# storing all the item numbers in 'all_items'
all_items = set(merged['item_no'])

In [63]:
# storing all the consumer numbers in 'all_consumers'
all_consumers = set(merged['consumer_no'])

In [64]:
# creating a function to find the items consumed by a specifc consumer
def consumed_items(no, df):
    consumed_items = df.loc[df.consumer_no == no , 'item_no'].unique()
    return set(consumed_items)

In [65]:
# creating a function to find the items not consumed by a specific consumer
def non_consumed_items(no,df):
    temp = consumed_items(no, df)
    non_consumed_items = all_items - temp
    return set(non_consumed_items)

In [66]:
# creating a function for evalutaion of model accuracy for each customer evaluation
def evaluation(no, df):
    temp = []
    metrics = {}
    one = consumed_items(no,df)
    two = non_consumed_items(no,df)
    remaining = two-one
    
    recall_top_five = 0
    recall_top_ten = 0
    
    for i in df['item_no']:
        if i in one:
            temp.append(i)
    
    top_five = list(temp[:6])
    top_ten = list(temp[:11])
    
    if len(one) != 0:
        recall_top_five = len(top_five) / len(one)
        recall_top_ten = len(top_ten) / len(one)

    metrics = {'recall_top_five' :round(recall_top_five,2) ,'recall_top_ten' : round(recall_top_ten,2) }
    
    return metrics

In [67]:
# creating a function for evaluation of the recommendations 
def model_evaluation(no,df):
    
    five = 0
    ten = 0
    
    temp = []
    metrics = {}
    
    for item in df['item_no']:
        temp = list(df['consumer_no'])
        
    for consumer in temp:
        model = evaluation(consumer,df)
        five = five + model['recall_top_five']
        ten = ten + model['recall_top_ten']
        
    final_five = five / len(temp)
    final_ten = ten / len(temp)
    
    metrics = {'recall_top_five' :round(final_five,2) ,'recall_top_ten' : round(final_ten,2) }
    
    return metrics

We are using recall for model evaluation as we are only concerned with the relevant results that should be appearing in our final output.

## Splitting in train and test data sets

In [68]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(merged, test_size = 0.3, random_state = 30)

In [69]:
print(train.shape)
print(test.shape)

(34399, 6)
(14743, 6)

## Content based Recommendation

In [70]:
#importing relevant libraries
from nltk.corpus import stopwords

In [71]:
stopwords_list = stopwords.words('english') + stopwords.words('portuguese')

In [72]:
stopwords_list

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'de',
 'a',
 'o',
 'que',
 'e',
 'é',
 'do',
 'da',
 'em',
 'um',
 'para',
 'com',
 'não',
 'uma',
 'os',
 'no',
 'se',
 'na',
 'por',
 'mais',
 'as',
 'dos',
 'como',
 'mas',
 'ao',
 'ele',
 'das',
 'à',
 'seu',
 'sua',
 'ou',
 'quando',
 'muito',
 'nos',
 'já',
 'eu',
 'também',
 'só',
 'pelo',
 'pela',
 'até',
 'isso',
 'ela',
 'entre',
 'depois',
 'sem',
 'mesmo',
 'aos',
 'seus',
 'quem',
 'nas',
 'me',
 'esse',
 'eles',
 'você',
 'essa',
 'num',
 'nem',
 'suas',
 'meu',
 'às',
 'minha',
 'numa',
 'pelos',
 'elas',
 'qual',
 'nós',
 'lhe',
 'deles',
 'essas',
 'esses',
 'pelas',
 'este',
 'dele',
 'tu',
 'te',
 'vocês',
 'vos',
 'lhes',
 'meus',
 'minhas',
 'teu',
 'tua',
 'teus',
 'tuas',
 'nosso',
 'nossa',
 'nossos',
 'nossas',
 'dela',
 'delas',
 'esta',
 'estes',
 'estas',
 'aquele',
 'aquela',
 'aqueles',
 'aquelas',
 'isto',
 'aquilo',
 'estou',
 'está',
 'estamos',
 'estão',
 'estive',
 'esteve',
 'estivemos',
 'estiveram',
 'estava',
 'estávamos',
 'estavam',
 'estivera',
 'estivéramos',
 'esteja',
 'estejamos',
 'estejam',
 'estivesse',
 'estivéssemos',
 'estivessem',
 'estiver',
 'estivermos',
 'estiverem',
 'hei',
 'há',
 'havemos',
 'hão',
 'houve',
 'houvemos',
 'houveram',
 'houvera',
 'houvéramos',
 'haja',
 'hajamos',
 'hajam',
 'houvesse',
 'houvéssemos',
 'houvessem',
 'houver',
 'houvermos',
 'houverem',
 'houverei',
 'houverá',
 'houveremos',
 'houverão',
 'houveria',
 'houveríamos',
 'houveriam',
 'sou',
 'somos',
 'são',
 'era',
 'éramos',
 'eram',
 'fui',
 'foi',
 'fomos',
 'foram',
 'fora',
 'fôramos',
 'seja',
 'sejamos',
 'sejam',
 'fosse',
 'fôssemos',
 'fossem',
 'for',
 'formos',
 'forem',
 'serei',
 'será',
 'seremos',
 'serão',
 'seria',
 'seríamos',
 'seriam',
 'tenho',
 'tem',
 'temos',
 'tém',
 'tinha',
 'tínhamos',
 'tinham',
 'tive',
 'teve',
 'tivemos',
 'tiveram',
 'tivera',
 'tivéramos',
 'tenha',
 'tenhamos',
 'tenham',
 'tivesse',
 'tivéssemos',
 'tivessem',
 'tiver',
 'tivermos',
 'tiverem',
 'terei',
 'terá',
 'teremos',
 'terão',
 'teria',
 'teríamos',
 'teriam']

In [73]:
# creating an array of words from the column text_description 
keyword_array = (train['text_description'] + train ['title']).to_numpy()

In [74]:
keyword_array

array(['Toda vez que vemos alguma biblioteca nova de carregamento de imagem, nos perguntamos: outra? Com certeza não foi diferente com o Fresco que, por um tempo, sofreu bastante "chacota" da comunidade pelo simples motivo: Picasso\'s API has 24 classes. . Fresco\'s API has 24 packages. Mas, antes de rir, vamos entender o motivo de tudo isso. Nascimento Nós, usuários do Facebook e Instagram, exigimos exibição rápida e eficiente de imagem ao abrirmos nossos aplicativos. O Fresco nasceu exatamente com essa função: exibir a imagem de maneira eficiente, não importando o device ou conexão. Mas, qual exatamente é o problema? Bem, as imagens geralmente são grandes e os devices " pequenos ". Precisamos exibir uma imagem com a resolução 2560 × 1600 , com 4mb de tamanho, em um device com resolução desconsiderável. Mesmo com todo o processamento de imagem disponível, nos parece bem caótico, não é? Isso significa, no universo Android, que um simples device de 480 x 800 pixels, pode ocupar 1.5mb da dentro da sua tão preciosa e "suada" memória. E nós já estamos cansados de saber o que acontece quando essa memória é excedida: Memória Falando em memória, o que torna o Fresco diferente das outras bibliotecas? Antes, vamos entender melhor as regiões de memória do nosso aparelho. A famosa Java heap é região de memória delimitada por aplicação (ou seja, cada aplicação tem seu limite, isoladamente) definida pelo fabricante, por exemplo: G1 = 16 Mb Droid = 24 Mb Xoom = 48 Mb GalaxyTab = 64 Mb. Sabe o famoso " new " dentro do nosso código? Pois bem, todo " new " vai dentro dessa região de memória que é considerada "segura", já que o garbage-collecto r controla tudo isso com transparência para nós. Mas, esse " garbage-collecting " é exatamente o problema. Isso por quê ao invés de apenas recuperar partes da memória, o Android deve "travar" a aplicação completamente ao mesmo tempo que realiza a "coleta de lixo". E esse é uma das causas mais comuns de uma aplicação que aparece para congelar ou parar momentaneamente enquanto o usuário está utilizando, e já estamos cansados de saber o que o usuário faz quando isso acontece. Por outro lado, temos o chamado native heap que é usado pelo " new " do C++ e temos muito mais memória disponível aqui. Na verdade, a única limitação é a memória física disponível no device. Não há garbage-collection e nada que nos dê a sensação de lentidão. Porém, quando utilizamos dessa memória, temos a responsabilidade de liberar cada byte que utilizamos lá dentro. Caso contrário, teremos coisas " piores " acontecerão. Por último, o Android tem uma região de memória chamado , que opera praticamente igual ao native heap , mas possui algumas chamadas de sistemas extras. O Android pode fazer " unpin " da memória ao invés de liberá-la. E ele só faz isso quando necessário: a memória é liberada apenas se o sistema realmente precisar de mais memória. Quando o Android faz o " pin " da memória novamente, os dados antigos ainda estarão lá se o mesmo não foi liberado. A memória não pode ser diretamente manipulada através do código Java. Ela pode ser utilizada apenas em algumas situações excepcionais, e é destas situações que o tira vantagem. Não irei entrar em detalhes da sua implementação, mas você pode entender seu funcionamento no link no final deste post. Pois bem, sabendo como lidar e como acessar essa região da memória, o Fresco , como disse, tem uma outra postura para carregar as imagens. Pipeline "It\'s more than a loader\u200a-\u200ait\'s a pipeline" , é seu mantra para carregar uma imagem eficientemente. Nessa representação que percebemos a diferença do para as outras bibliotecas: O motivo dela ter 24 packages ao invés de 24 classes é que cada passo é tratado de maneira mais isolada e independente possível, o que nos dá um poder muito grande quando se diz respeito de ter "controle em cada passo" do carregamento da imagem. Utilização Ok, já sabemos como o Fresco opera. Agora, vamos ver como uma imagem simples é carregada. Primeiro, quando carregamos uma imagem, nós precisamos de um placeholder para ela e, quando acontece alguma falha, precisamos de um placeholder que indique isso. Também, há situações de quando a imagem termina de ser carregada, queremos fazer alguma animação nela tal como um fade-in ou até aplicar alguma regra de redimensionamento para exibirmos no tamanho correto. Só de ler esse parágrafo, você provavelmente já assimilou alguma necessidade que você venha a ter no seu dia a dia, e que todos nós temos. Mas, para suportar esse tipo de "funcionalidade", tudo precisa ser rápido, suave e performático. Para fazer isso, o utiliza um esquema de " Drawees " (um MVP-like, só que voltado pra imagens), que separa as camadas da imagem em três etapas. A camada de "modelo" é chamada DraweeHierarchy , que implementa uma hierarquia de Drawables, que cada um se aplica a uma função diferente a imagem subjacente. Os DraweeControllers se conectam com o image pipeline (ou qualquer outro loader) e fica responsável pela parte de backend. É ele quem recebe as respostas do servidor e decide o que fazer com eles. Por último temos o DraweeViews , que tem um papel bem específico. Esses ficam "ouvindo" eventos do sistema que informa que aquela view não está mais sendo exibida na tela. Quando isso acontece, o DraweeView informa pro DraweeController que por sua vez "fecha" todos os usos daquela imagem, evitando qualquer perda de memória. Também, vai informar ao pipeline para cancelar o request da imagem, caso não tenha sido terminada ainda\u200a-\u200acomo por exemplo em listas. Criando uma galeria Para mostrar como tudo isso funciona, criei um projeto para e exibição das imagens dentro do device. É um ótimo caso de uso, já que dentro do device existem fotos de diversos tamanhos e tipos. Primeiramente, precisamos inicializar o através da nossa Application : Depois de criar nosso RecyclerView para exibição, precisamos criar cada item da imagem. Para isso, vamos utilizar o SimpleDraweeView , que já irá contemplar todas as ferramentas necessárias para fazer o carregamento da imagem. Aqui, podemos explorar a imagem já do XML. Cheque a documentação para saber até onde podemos customizar aqui. Feito isso, precisamos carregar nossa imagem. Para isso, precisamos definir qual o path (url ou local) da imagem. No , fazemos isso através do método setImageURI() ; Somente dessa maneira, se rodássemos nossa aplicação, já iremos ver nossa imagem sendo exibida (cacheada, otimizada etc etc etc). Mas, como estamos tratando de uma galeria, precisamos fazer algumas configurações a mais para garantir performance. Vamos alterar nosso DraweeController para adicionar algumas configurações: O resultado dessa implementação, é esse: Já está bom, não é? Mas, ainda não é um resultado desejado. Perceba que, ao fazermos o scroll , ainda há um engasgo para carregar as imagens, e também elas não estão sendo carregadas rapidamente. E é aqui que o Fresco se mostra poderoso: temos controle para diminuir a qualidade da imagem que irá ser exibida apenas com algumas linhas de código! Lembra na nossa Application ? Podemos colocar um "configurador" para o , que irá refletir em todas as imagens selecionadas: Resultado? Temos um scroll totalmente suave e performático. Faça o teste! Rode no seu próprio device e veja o resultado. Configurações extras OkHttp O tem suporte ao OkHttp como image pipeline ! Para isso, precisamos adicionar uma dependência extra: E, na nossa Application, adicionar o OkHttpClient: Outros formatos Uma grande reclamação era que você era obrigado a incluir todas as funcionalidades e funções que o tem para oferecer. Mas, a partir da versão , você consegue "granular" o que você quer usar: Conclusão O Fresco é uma biblioteca que, após seu entendimento e compreensão do que pode ser feito com ela, nos garante entregar uma experiência muito boa para o usuário visualizar suas imagens. Então, dê uma chance ao Fresco e comente nesse post suas impressões! LinksFresco, sim! - Android Dev BR',
       'In November, we looked at the underdog browsers adopted by one in thirty web users . The StatCounter browser statistics for December 2016 records a more exciting and momentous event in the web\'s history ... Worldwide Desktop & Tablet Browser Statistics, October to November 2016 The following table shows browser usage movements during the past month. Worldwide Desktop & Tablet Browser Statistics, November 2015 to November 2016 The following table shows browser usage movements during the past twelve months: (The tables show market share estimates for desktop browsers. The \'change\' column is the absolute increase or decrease in market share. The \'relative\' column indicates the proportional change, i.e. 6.7% of oldIE users migrated elsewhere last month. There are several caveats so I recommend you read How Browser Market Share is Calculated and StatCounter vs NetMarketShare .) Chrome experienced an uncharacteristic fall. I\'m secretly pleased; I predicted Google\'s browser wouldn\'t reach 60% before the end of 2016 ! That said, -0.17% is hardly a major setback, and my predictions are notoriously awful. No doubt everyone will switch to Chrome during the next month just to prove me wrong! A fall for Chrome generally means good news for other applications. Firefox, Edge and even IE11 all rose but the changes are hardly dramatic. Let\'s move on; there\'s far more interesting news on mobile ... Worldwide Mobile Browser Statistics, November 2016 Mobile browser use increased by an impressive 1.78% during November. It smashed through the parity barrier and now accounts for 50.62% of all web activity . Mobile exceeds desktop usage for the first time since the web began. (Some sites were reporting this event last month and mobile usage did overtake desktop on certain days. However, the overall percentage for October 2016\'s mobile use remained below 50%.) We\'ve been waiting some time . The "mobiles-will-overtake-desktop" prediction was raised at least a decade ago, but took longer than most expected. Possible reasons include: It is difficult to do real work on a mobile device. That said, devices have grown exponentially in Asia and Africa in places where the PC revolution never occurred. Millions of people now work and trade on smartphones in ways which are troublesome in the western world. We still struggle with micro-payments and simple transactions regardless of age or financial status. Network bandwidth is slow, unreliable and costly in the majority of countries. There are only so many hours you can surf and a mobile connection will impede progress. There are exciting possibilities for future technologies, but fast, always-on and inexpensive networks remain a dream. The web has evolved from a predominantly desktop-based starting point. The situation has improved with Responsive Web Design and Progressive Web Apps, but many legacy sites are inoperable or impractical on a mobile device. Does the mobile explosion change our development lives? Probably not if you\'ve been reading SitePoint and watching industry trends: you\'re already mobile aware. Fortunately, it will be a wake-up call for any client or boss who doubted the growth of the mobile platform or didn\'t think it would affect their business. Be prepared for several "how can we make our digital experience better on a smartphone" conversations very soon. From a technical perspective, I recommend a mobile-first approach: Design your site/application to work on smaller, narrow screens. Use media queries to progressively enhance your layout as the screen size increases. Take a simple, pragmatic approach. If you\'re removing a feature because it doesn\'t fit on a mobile screen, consider whether it\'s necessary to offer it on the desktop. The top mobile browsing applications for the month were: Chrome continues its meteoric rise at the expense of all others (especially Android Mobile, which it supersedes). While I don\'t use Chrome as my default desktop browser, I have no hesitation in recommending it on mobile. I\'m yet to find an alternative which offers a better experience. The iPhone edition of Safari and UC Browser continue to dance round each other. Following a month at the coveted #2 spot, UC Browser has been knocked back once again. However, the dominance of mobile usage will encourage people to look for better smartphone applications. Take note, Apple: your lacklustre attitude to Safari and the web could hit profitability sooner than you think. The biggest faller was the "others" group. More than 40% of those users migrated to a mainstream browser. Perhaps it\'s a statistical blip, or my underdog browser article from last month didn\'t help their cause?! See you next month for a round-up of the major browser events of 2016.Browser Trends December 2016: Mobile Overtakes Desktop',
       'Back in 2007, even before the iPhone was launched, giving us a powerful computer in our pockets or handbags, I started outlining a vision for Web 3.0. Tim Berners-Lee, a father of the World Wide Web, talks about the "Semantic Web," a way that computers employ the meaning of words - not just pattern matching - along with logical rules to connect independent nuggets of data and so create more context for information. The formula that makes the most sense to me is this: Web 3.0 results from combining content, commerce, community and context, with personalization and vertical search. Or, to put it in a handy phrase: Web 3.0 = (4C + P + VS). Web 1.0 was all about driving online commerce and trying to find "anything" in the tangled jungle of the Web. It produced companies like Yahoo, Amazon.com, eBay, Netflix and Blue Nile. The rush for dollars also resulted in the dot-com meltdown. Even so, people\'s habits of searching, buying and selling genuinely changed. Today, you will find hundreds of thousands of merchants selling everything from cable organizers, window blinds, clothes, water filters, and everything else under the sun through specialized online stores. Specialty retail, in other words, has made a decisive transition to the web. Web 2.0 has been primarily focused on social networking through online communities. Facebook, Twitter and LinkedIn, have been the most notable companies to emerge. But there are a plethora of others where you can "meet," "connect" and "make friends" online these days - habits no longer considered weird. At the same time, we\'ve seen a great deal of investment in vertical search companies. If you are looking for a job, you can go to a site like Indeed.com and search across various job portals and career sites. Or go to Kayak if you\'ve got travel questions, or TheFind if you\'re seeking shopping advice. In each case, the sites have carefully customized search parameters (job seekers, for instance, can search on salary ranges, locations, job levels and so on). Therein lies the big difference with Google, a generic horizontal search engine. Finally, Web 2.0 has brought an onslaught of user-generated content in the form of blogs, podcasts, appending comments at the bottom of articles, posting reviews of restaurants, movies, stores, and hotels. Media has become truly interactive, as opposed to the one-way world we were used to. Many more voices are being raised, and heard. The media industry, as we have known it, has been shaken to its roots. The next wave - Web 3.0 - will organize itself around two different elements: context and the user.By "context," I mean the intent that brings you to the Web, your reason for surfing. Looking for a job is "context," as is planning a trip or shopping for clothes. Fundamental to context is the user. And when you fuse a specific user with genuine context, you wind up with truly personalized service. Imagine this: You are planning a trip to Rome. You are looking for a hotel around Piazza di Spagna, but not something large and impersonal - which rules out the Hassler Villa Medici. You like smaller bed-and-breakfasts, with charm, warmth, character. You want an online travel agent who can understand your needs and preferences, and find you not only the right hotel but really interesting restaurants, boutiques and shows all aligned with your taste. Normally, you use Guide du Routard as your travel guide, but today there is still a gulf between travel guides and online travel-booking sites - in other words, content and commerce are fragmented. In Web 3.0, you will see content and commerce finally come together in a big way, no longer forcing you to hop from site to site to get one job done. On this same trip, you would love to meet local people who share your interests - say, cooking, jazz, opera. In Web 3.0, you will see the community elements of Web 2.0 pulled into context, making it as easy to find new friends with common interests, even in a distant city, as it is to book a hotel room. Some user-generated content is already evolving into an integral part of travel planning today. At TripAdviser, for instance, travelers report back on their experiences at hotels around the world. The missing element, however, is the notion of the individual user and his or her personal needs. You don\'t want to read reviews from anyone. You want to read reviews by people whose taste and judgment you trust. In a Web 3.0 world, then, a personalized travel agent will help you find and book a highly customized itinerary, leveraging all the power of previous generations of Web technology -searching (both generic and vertical), community building, content and commerce. That\'s how I get Web 3.0 = (4C+P+VS) - the sum of content, commerce, community and context, with personalization and vertical search. This is complex technology, requiring sophisticated artificial-intelligence algorithms. After all, your Web 3.0 travel agent will not be a "person" but a "bot", or intelligent agent. But I suspect you will like your travel bot. And your career bot. And your shopping bot. Let\'s look at a shopping bot, in fact. I am a petite woman, dark-skinned, dark-haired, brown-eyed. I have a distinct personal style, and only certain designers resonate with it (Context). I want my personal SAKS Fifth Avenue which carries clothes by those designers, in my size (Commerce). I want my personal Vogue, which covers articles about that style, those designers, and other emerging ones like them (Content). And I want to exchange notes with others of my size-shape-style-psychographic and discover what else looks good. I also want the recommendation system tell me what they\'re buying (Community). There are also some basic principles of what looks good based on skin tone, body shape, hair color, eye color ... I want the search engine to be able to filter and match based on an algorithm that builds in this knowledge base (Personalization, Vertical Search). Now, imagine the same for a short, plump, white, red-haired man, who doesn\'t really have a sense of what to wear. And he doesn\'t have a wife or a girlfriend. Before Web 3.0, he could go to the personal shopper at Nordstrom. With Web 3.0, the Internet will be his personal shopper. Aided with ubiquitous, mobile presence, these digital shoppers will anticipate all his needs, all of each of our needs. So be patient with the technology entrepreneurs around the world, who are working through these generations of the evolving Web, trying to bring about a dramatically better user experience. After all, they - and their bots - are working for you. Sramana Mitra is the founder of One Million by One Million (1M/1M), a global virtual incubator. This post was excerpted from her new book, From E-Commerce to Web 3.0: Entrepreneur Journeys .From E-Commerce to Web 3.0: Let the Bots Do the Shopping',
       ...,

In [75]:
# Creating a list of words from the keyword_array
keyword_list = []

for keyword in keyword_array:
    
    splitted_words = str(keyword).lower().split()
    
    keyword_list.append(splitted_words)

In [76]:
len(keyword_list)

34399

In [77]:
keyword_list_final = []

In [78]:
# Removing the stopwords

for word in keyword_list:
    if word not in stopwords_list:
        keyword_list_final.append(word)

### Creating Dictionary, Bag of Words, tfidf Model and Similarity Matrix

In [79]:
from gensim.corpora.dictionary import Dictionary

In [80]:
# creating a dictionary from the words list 
dictionary = Dictionary(keyword_list_final)

In [81]:
# creating the corpus
corpus = [dictionary.doc2bow(doc) for doc in keyword_list_final]

In [82]:
from gensim.models.tfidfmodel import TfidfModel

In [83]:
# creating a tfidf model of the corpus
tfidf = TfidfModel(corpus)

In [84]:
from gensim.similarities import MatrixSimilarity

In [85]:
# creating the similarity matrix to get the similarity between items
sims = MatrixSimilarity(tfidf[corpus], num_features=len(dictionary))

In [86]:
print(sims)

MatrixSimilarity<34399 docs, 136078 features>

### For input item, looking for recommended items

In [87]:
train['title'].iloc[2]

'From E-Commerce to Web 3.0: Let the Bots Do the Shopping'

In [143]:
def item_recommendation(title):
    
    # getting the item row
    item = train.loc[train.title==title] 
    
    #splitting the keywords
    keywords = train['text_description'].iloc[11].split() 

    #setting the list of words to query_doc
    query_doc = keywords 
    
    # getting a bag of words from the query_doc
    query_doc_bow = dictionary.doc2bow(query_doc) 

    #converting the regular bag of words model to a tf-idf model
    query_doc_tfidf = tfidf[query_doc_bow] 

    # getting similarity values between input item and all other item
    similarity_array = sims[query_doc_tfidf] 

    # converting to a Series
    similarity_series = pd.Series(similarity_array.tolist(), index=train.title.values) 

    #getting the most similar items 
    similarity_output = similarity_series.sort_values(ascending=False)
    
    return similarity_output

In [89]:
content_output = item_recommendation('Setting Up HTTP(S) Load Balancing')

In [90]:
content_output.duplicated().sum()

32182

In [91]:
content_output = content_output.drop_duplicates()

In [92]:
content_output.head()

O homofóbico dentro de cada um                                                 0.949535
[Books] Biblioteca FIXE: Sugestões de Leitura                                  0.324373
SINAIS do FUTURO imediato: #1, internet das coisas                             0.309699
Por dentro do Nubank, conheça os segredos da fintech mais festejada do país    0.286833
A saga do jovem CEO da Dasa                                                    0.284552
dtype: float64

In [93]:
content_df = pd.DataFrame(content_output)

In [94]:
content_df.head()

                                                           0
O homofóbico dentro de cada um                      0.949535
[Books] Biblioteca FIXE: Sugestões de Leitura       0.324373
SINAIS do FUTURO imediato: #1, internet das coisas  0.309699
Por dentro do Nubank, conheça os segredos da fi...  0.286833
A saga do jovem CEO da Dasa                         0.284552

In [95]:
content_df.reset_index(inplace=True)

In [96]:
content_df.columns = ['title', 'score']

In [97]:
content_df.head()

                                               title     score
0                     O homofóbico dentro de cada um  0.949535
1      [Books] Biblioteca FIXE: Sugestões de Leitura  0.324373
2  SINAIS do FUTURO imediato: #1, internet das co...  0.309699
3  Por dentro do Nubank, conheça os segredos da f...  0.286833
4                        A saga do jovem CEO da Dasa  0.284552

In [98]:
content_df['content_score_normalized'] = (content_df['score']-min(content_df['score'])) / (max(content_df['score']) - min(content_df['score']))

In [99]:
content_df.head()

,title,score,content_score_normalized
0,O homofóbico dentro de cada um,0.949535,1.000000
1,[Books] Biblioteca FIXE: Sugestões de Leitura,0.324373,0.341612
2,"SINAIS do FUTURO imediato: #1, internet das co...",0.309699,0.326158
3,"Por dentro do Nubank, conheça os segredos da f...",0.286833,0.302077
4,A saga do jovem CEO da Dasa,0.284552,0.299675

In [100]:
content_df.shape

(2217, 3)

## Collaborative Recommendation

### User item profile

In [101]:
data_matrix = train.pivot_table(
    index='item_no',
    columns='consumer_no',
    values='interaction_type'
).fillna(0)

In [102]:
data_matrix.head()

consumer_no,0,1,2,3,4,5,6,7,8,9,...,1881,1882,1883,1885,1886,1887,1890,1891,1893,1894
item_no,,,,,,,,,,,,,,,,,,,,,
3,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
data_matrix.shape

(2240, 1779)

### Pairwise Distance

In [104]:
from sklearn.metrics.pairwise import pairwise_distances

In [105]:
item_similarity = 1 - pairwise_distances(data_matrix, metric = 'cosine')

In [106]:
item_similarity

array([[1.        , 0.        , 0.11572751, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.2236068 , ..., 0.11439056, 0.        ,
        0.1490712 ],
       [0.11572751, 0.2236068 , 1.        , ..., 0.12789253, 0.19148936,
        0.16666667],
       ...,
       [0.        , 0.11439056, 0.12789253, ..., 1.        , 0.        ,
        0.17052337],
       [0.        , 0.        , 0.19148936, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.1490712 , 0.16666667, ..., 0.17052337, 0.        ,
        1.        ]])

In [107]:
item_similarity.shape

(2240, 2240)

### Getting similar items to recommend

In [108]:
item_index = 11

In [109]:
item_prediction = pd.DataFrame(item_similarity)

In [110]:
item_prediction.head()

,0,1,2,3,4,5,6,7,8,9,...,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239
0,1.000000,0.000000,0.115728,0.0,0.151812,0.0,0.0,0.000000,0.135208,0.059984,...,0.015973,0.000000,0.157485,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.000000,1.000000,0.223607,0.0,0.000000,0.0,0.0,0.182574,0.266472,0.193167,...,0.092589,0.084980,0.000000,0.128711,0.200000,0.145172,0.0,0.114391,0.000000,0.149071
2,0.115728,0.223607,1.000000,0.0,0.327952,0.0,0.0,0.000000,0.175250,0.561514,...,0.103517,0.095011,0.000000,0.143904,0.223607,0.162307,0.0,0.127893,0.191489,0.166667
3,0.000000,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.051383,0.000000,0.101322,0.000000,0.000000,0.000000,0.0,0.105804,0.000000,0.000000
4,0.151812,0.000000,0.327952,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.169984,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000

In [111]:
item_prediction.shape

(2240, 2240)

In [112]:
item_prediction.iloc[item_index]

0       0.000000
1       0.000000
2       0.000000
3       0.413646
4       0.000000
          ...
2235    0.000000
2236    0.000000
2237    0.127893
2238    0.000000
2239    0.000000
Name: 11, Length: 2240, dtype: float64

In [113]:
item_recommendation = pd.DataFrame(item_prediction.iloc[item_index].sort_values(ascending=False))

In [114]:
item_recommendation.head()

            11
11    1.000000
2154  0.707107
720   0.608330
562   0.593732
987   0.582113

In [115]:
item_recommendation.reset_index(inplace=True)

In [116]:
item_recommendation.columns = ['item_no','score']

In [117]:
item_recommendation.head(10)

   item_no     score
0       11  1.000000
1     2154  0.707107
2      720  0.608330
3      562  0.593732
4      987  0.582113
5      461  0.509478
6     1484  0.508710
7     1380  0.500000
8     1580  0.500000
9      894  0.500000

### Merging 'item_no' with item 'title'

In [118]:
merged_one = pd.merge(item_recommendation, merged,  on='item_no', how='left')

In [119]:
merged_one.head(10)

,item_no,score,interaction_type,consumer_no,title,text_description,language
0,11,1.000000,5.0,6.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
1,11,1.000000,5.0,72.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
2,11,1.000000,5.0,43.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
3,11,1.000000,5.0,75.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
4,11,1.000000,5.0,78.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
5,11,1.000000,5.0,1117.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
6,2154,0.707107,NaN,NaN,NaN,NaN,NaN
7,720,0.608330,NaN,NaN,NaN,NaN,NaN
8,562,0.593732,5.0,602.0,What exercise does to your bones,The force on a triple jumper's bones is 15 tim...,en
9,562,0.593732,1.0,602.0,What exercise does to your bones,The force on a triple jumper's bones is 15 tim...,en

In [120]:
merged_one = merged_one[['item_no','title','consumer_no','score']]

In [121]:
merged_one.head()

   item_no                              title  consumer_no  score
0       11  Setting Up HTTP(S) Load Balancing          6.0    1.0
1       11  Setting Up HTTP(S) Load Balancing         72.0    1.0
2       11  Setting Up HTTP(S) Load Balancing         43.0    1.0
3       11  Setting Up HTTP(S) Load Balancing         75.0    1.0
4       11  Setting Up HTTP(S) Load Balancing         78.0    1.0

In [122]:
merged_one.duplicated().sum()

7348

In [123]:
merged_one = merged_one.drop_duplicates()

In [124]:
merged_one.shape

(27964, 4)

In [125]:
merged_one['collaborative_score_normalized'] = (merged_one['score']-min(merged_one['score']))/(max(merged_one['score'])-min(merged_one['score']))

In [126]:
merged_one.head()

,item_no,title,consumer_no,score,collaborative_score_normalized
0,11,Setting Up HTTP(S) Load Balancing,6.0,1.0,1.0
1,11,Setting Up HTTP(S) Load Balancing,72.0,1.0,1.0
2,11,Setting Up HTTP(S) Load Balancing,43.0,1.0,1.0
3,11,Setting Up HTTP(S) Load Balancing,75.0,1.0,1.0
4,11,Setting Up HTTP(S) Load Balancing,78.0,1.0,1.0

## Hybrid : Combining the two Models

In [127]:
hybrid = pd.merge(merged_one, content_df, on = 'title' , how = 'left')

In [128]:
hybrid.head(10)

,item_no,title,consumer_no,score_x,collaborative_score_normalized,score_y,content_score_normalized
0,11,Setting Up HTTP(S) Load Balancing,6.0,1.000000,1.000000,0.000370,0.000390
1,11,Setting Up HTTP(S) Load Balancing,72.0,1.000000,1.000000,0.000370,0.000390
2,11,Setting Up HTTP(S) Load Balancing,43.0,1.000000,1.000000,0.000370,0.000390
3,11,Setting Up HTTP(S) Load Balancing,75.0,1.000000,1.000000,0.000370,0.000390
4,11,Setting Up HTTP(S) Load Balancing,78.0,1.000000,1.000000,0.000370,0.000390
5,11,Setting Up HTTP(S) Load Balancing,1117.0,1.000000,1.000000,0.000370,0.000390
6,2154,NaN,NaN,0.707107,0.707107,NaN,NaN
7,720,NaN,NaN,0.608330,0.608330,NaN,NaN
8,562,What exercise does to your bones,602.0,0.593732,0.593732,0.000318,0.000335
9,562,What exercise does to your bones,6.0,0.593732,0.593732,0.000318,0.000335

In [129]:
hybrid.shape

(28241, 7)

In [130]:
hybrid['final_score'] = (hybrid['collaborative_score_normalized'] + hybrid['content_score_normalized'])/2

In [131]:
hybrid.head()

,item_no,title,consumer_no,score_x,collaborative_score_normalized,score_y,content_score_normalized,final_score
0,11,Setting Up HTTP(S) Load Balancing,6.0,1.0,1.0,0.00037,0.00039,0.500195
1,11,Setting Up HTTP(S) Load Balancing,72.0,1.0,1.0,0.00037,0.00039,0.500195
2,11,Setting Up HTTP(S) Load Balancing,43.0,1.0,1.0,0.00037,0.00039,0.500195
3,11,Setting Up HTTP(S) Load Balancing,75.0,1.0,1.0,0.00037,0.00039,0.500195
4,11,Setting Up HTTP(S) Load Balancing,78.0,1.0,1.0,0.00037,0.00039,0.500195

In [132]:
hybrid = hybrid[['item_no','title','consumer_no','final_score']]

In [133]:
hybrid.head()

   item_no                              title  consumer_no  final_score
0       11  Setting Up HTTP(S) Load Balancing          6.0     0.500195
1       11  Setting Up HTTP(S) Load Balancing         72.0     0.500195
2       11  Setting Up HTTP(S) Load Balancing         43.0     0.500195
3       11  Setting Up HTTP(S) Load Balancing         75.0     0.500195
4       11  Setting Up HTTP(S) Load Balancing         78.0     0.500195

## Final Recommendations

In [134]:
final = hybrid[['item_no','title','final_score']]

In [135]:
final.duplicated().sum()

25981

In [136]:
final = final.drop_duplicates()

In [137]:
final = final.sort_values(by = 'final_score', ascending= False)

In [138]:
# These are the top 5 recommendations 
final.head(5)

       item_no                                       title  final_score
0           11           Setting Up HTTP(S) Load Balancing     0.500195
15522     1704              O homofóbico dentro de cada um     0.500000
14         987  Nokia vai voltar ao mercado de smartphones     0.354475
143         21    O potencial do bitcoin na América Latina     0.297856
8          562            What exercise does to your bones     0.297034

In [139]:
# These are the top top recommendations
final.head(10)

       item_no                                              title  final_score
0           11                  Setting Up HTTP(S) Load Balancing     0.500195
15522     1704                     O homofóbico dentro de cada um     0.500000
14         987         Nokia vai voltar ao mercado de smartphones     0.354475
143         21           O potencial do bitcoin na América Latina     0.297856
8          562                   What exercise does to your bones     0.297034
18         461  Finally, CSS In JavaScript! Meet CSSX - Smashi...     0.254928
33        1711  Land Rover's lead engineer explains autonomous...     0.239847
837       1218                                       TEDxSãoPaulo     0.239752
784       1669    Pequeno guia para entender as línguas de sinais     0.238943
236        338  Campanha do Dicionário Houaiss pretende mudar ...     0.237804

## Model Evaluation

### Model Evaluation on Train Set

In [140]:
# Checking the recommendation accuracies for the train set
model_evaluation(11,hybrid)

{'recall_top_five': 0.37, 'recall_top_ten': 0.68}

### Making recommendations on the test set

In [144]:
content_output_test = item_recommendation('The Broken Window Theory')

In [145]:
content_output_test= content_output_test.drop_duplicates()

In [146]:
content_df_test = pd.DataFrame(content_output_test)

In [147]:
content_df_test.reset_index(inplace=True)

In [148]:
content_df_test.columns = ['title', 'score']

In [149]:
content_df_test['content_score_normalized'] = (content_df_test['score']-min(content_df_test['score'])) / (max(content_df_test['score']) - min(content_df_test['score']))

In [150]:
content_df_test.head()

,title,score,content_score_normalized
0,O homofóbico dentro de cada um,0.949535,1.000000
1,[Books] Biblioteca FIXE: Sugestões de Leitura,0.324373,0.341612
2,"SINAIS do FUTURO imediato: #1, internet das co...",0.309699,0.326158
3,"Por dentro do Nubank, conheça os segredos da f...",0.286833,0.302077
4,A saga do jovem CEO da Dasa,0.284552,0.299675

### Collaborative Recommendation

In [169]:
item_index_test = 1951

In [170]:
item_prediction.iloc[item_index_test]

0       0.094987
1       0.000000
2       0.205196
3       0.127317
4       0.269177
          ...
2235    0.000000
2236    0.000000
2237    0.000000
2238    0.000000
2239    0.000000
Name: 1951, Length: 2240, dtype: float64

In [171]:
item_recommendation_test = pd.DataFrame(item_prediction.iloc[item_index].sort_values(ascending=False))

In [172]:
item_recommendation_test.reset_index(inplace=True)

In [173]:
item_recommendation_test.columns = ['item_no','score']

In [174]:
merged_test = pd.merge(item_recommendation_test, merged,  on='item_no', how='left')

In [175]:
merged_test.head()

,item_no,score,interaction_type,consumer_no,title,text_description,language
0,11,1.0,5.0,6.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
1,11,1.0,5.0,72.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
2,11,1.0,5.0,43.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
3,11,1.0,5.0,75.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en
4,11,1.0,5.0,78.0,Setting Up HTTP(S) Load Balancing,HTTP(S) load balancing provides global load ba...,en

In [176]:
merged_test = merged_test.drop(['text_description','language'], axis =1)

In [179]:
merged_test['collaborative_score_normalized'] = (merged_test['score']-min(merged_test['score']))/(max(merged_test['score'])-min(merged_test['score']))

In [180]:
merged_test.head()

,item_no,score,interaction_type,consumer_no,title,collaborative_score_normalized
0,11,1.0,5.0,6.0,Setting Up HTTP(S) Load Balancing,1.0
1,11,1.0,5.0,72.0,Setting Up HTTP(S) Load Balancing,1.0
2,11,1.0,5.0,43.0,Setting Up HTTP(S) Load Balancing,1.0
3,11,1.0,5.0,75.0,Setting Up HTTP(S) Load Balancing,1.0
4,11,1.0,5.0,78.0,Setting Up HTTP(S) Load Balancing,1.0

In [181]:
hybrid_test = pd.merge(merged_test, content_df_test, on = 'title' , how = 'left')

In [182]:
hybrid_test['final_score'] = (hybrid_test['collaborative_score_normalized'] + hybrid_test['content_score_normalized'])/2

In [183]:
hybrid_test = hybrid_test[['item_no','title','consumer_no','final_score']]

### Model Evaluation on Test Set

In [186]:
# Checking the recommendation accuracies for item_no 1951 from the test set
model_evaluation(1951,hybrid_test)

{'recall_top_five': 0.35, 'recall_top_ten': 0.63}